.cont_productos{
    .titles {
        margin: 40px 0;
    }
    ul{
        display: block;
        .producto {
            width: 44%;
            margin: 0 2% 20px 0;
            float: left;
            height: 210px;
            h3{
                font-size: 24px;
                font-weight: 800;
            }
            h4{
                font-size: 12px;
                color:$blue ;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                color: $grayTwo;
            }

            h5{
                font-size:  16px;
                font-weight: 500;
                span{
                    color: #ef434e;
                    font-size: 12px;
                    font-weight: 800;
                }
            }

            h6{
                font-weight: 800;
                color: $blue;
                font-size: 18px;
                margin: 10px 0 ;

            }
        }
    }
    
}